body {
    font-family: "Open Sans", sans-serif;
}
h1 {
    font-family: "Merriweather", sans-serif;
    color: #333;
}
section {
    min-height: 100vh;
}
a,
a:visited,
a:active {
    text-decoration: none;
    color: #8C72B3;
}
a:hover {
    text-decoration: none;
    color: #CB9EC9;
}
.verticalCenter {
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}
.landingNav {
    display: inline-block;
    margin: 4px;
    padding: 2px;
    background-color: transparent;
    border-bottom: 1px solid #333;
}
#landing {
    background-color: #CB9EC9;
    text-align: center;
    height: 100vh;
}
#about img {
    width: 100%;
    bottom: 0;
    left: 0;
}
#landing img {
    width: 100%;
    bottom: 0;
    left: 0;
}
.background img {
    position: absolute;
    vertical-align: bottom;
    border: 0;
}
#mountains {
    z-index: 0;
}
#hill,
#lightSeawall {
    z-index: 1;
}
#bridge {
    z-index: 4;
}
#darkSeawall {
    z-index: 3;
}
.textBox {
    width: 90%;
    position: relative;
    background-color: #fff;
    padding: 10%;
    outline: 1.5px solid #564A7D;
    outline-offset: -15px;
    z-index: 9;
}
.textBox a,
p {
    font-size: 120%;
}
.textBox h1 {
    text-align: center;
    color: #333;
    font-size: 260%;
}
#about {
    background-color: #8C72B3;
    height: 100vh;
    position: relative;
}
#portfolio {
    min-height: 100vh;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: #8C72B3;
    text-align: center;
}
#thePortfolio {
    margin-top: 2.5%;
}
.mix {
    display: inline-block;
    padding: 1%;
}
.mix img {
    width: 90%;
}
.iframeContainer {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.iframeContainer1by1 {
    position: relative;
    padding-bottom: 100%;
    height: 0;
    overflow: hidden;
}
.iframeContainerPhone {
    position: relative;
    padding-bottom: 177.8%;
    height: 0;
    overflow: hidden;
}
.iframeContainer iframe,
.iframeContainer1by1 iframe,
.iframeContainerPhone iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.portBox {
    text-align: center;
    background: #fff;
    padding: 5%;
    font-size: 70%;
    margin: 5%;
    outline: 1.5px solid #564A7D;
    outline-offset: -10px;
}
#settings,
#likeSkip {
    max-width: 60%;
    margin-left: 21%;
}
.portBox img {
    width: 70%;
}
@media only screen and (min-width: 768px) {
    .textBox {
        max-width: 35%;
        padding: 2.5%;
    }
    #features,
    #logo {
        width: 100%;
        margin-left: 0;
    }
    #settings,
    #likeSkip {
        max-width: 25%;
        margin-left: 40%;
        font-size: 100%;
    }
    #ldr {
        max-width: 55%;
        margin-left: 22%;
    }
    .portBox {
        width: 50%;
        margin-left: 25%;
        font-size: 100%;
    }
    .portBox img {
        max-width: 70%;
    }
}
